$Color: #242f51;
$WhiteColor: #fff;
$bdr: 35px;
$br: #2500f9;
$bgi: none; 
$GrayColor:#616368;
$item: center;
$PinkColor: #f55767;
$GreenColor: #40975f;
$XColor: #2563ff;
$lh: 1.4;
$BlueColor: #999ca5;
